<h1>
  {{ activatedRoute.snapshot.title }}
</h1>
<app-user-search-signal-form
  [formData]="listSearchParams()"
  (formChange)="handleListSearchFormChange($event)">
</app-user-search-signal-form>
<div class="card mt-4">
  @if (listLoading() === true) {
    <p class="fw-light text-center">
      Loading...
    </p>
  } @else {
    @if (list().length === 0) {
      <p class="fw-light text-center">
        No user found.
      </p>
    } @else {
      <app-user-list
        [list]="list()">
      </app-user-list>
    }
  }
</div>
