
@use 'imports/variables' as variables

.badge
  display: inline-block
  background-color: variables.$color-black
  font-size: 12px !important
  font-weight: 400
  line-height: 1
  color: variables.$color-white
  padding: 4px
  border-radius: 4px
  margin: 0px 4px
  &:first-child
    margin-left: 0px
  &:last-child
    margin-right: 0px

.badge-green
  background-color: variables.$color-green
  color: variables.$color-white

.badge-red
  background-color: variables.$color-red
  color: variables.$color-white
