
@use 'imports/variables' as variables

.button
  display: inline-block
  background-color: variables.$color-black
  font-size: 14px
  font-weight: 400
  text-align: center
  color: variables.$color-white
  padding: 4px 12px
  border-width: 1px
  border-radius: 16px
  border-color: variables.$color-black
  transition: background-color 0.25s, opacity 0.25s
  &:hover
    background-color: variables.$color-black
    text-decoration: none
    color: variables.$color-white
    border-color: variables.$color-black
  &:disabled
    opacity: 0.5
    cursor: not-allowed

.button-white
  background-color: variables.$color-white
  color: variables.$color-black
  border-color: variables.$color-black
  &:hover
    background-color: variables.$color-white
    color: variables.$color-black
    border-color: variables.$color-black

.button-green
  background-color: variables.$color-green
  border-color: variables.$color-green
  &:hover
    background-color: variables.$color-green
    border-color: variables.$color-green

.button-red
  background-color: variables.$color-red
  border-color: variables.$color-red
  &:hover
    background-color: variables.$color-red
    border-color: variables.$color-red
