
@use 'imports/media-queries.sass' as media-queries

.section
  padding: 24px (24px - 12px)
  @include media-queries.MQ(MD)
    padding: 32px (32px - 12px)

.section-small
  padding: 12px (24px - 12px)
  @include media-queries.MQ(LG)
    padding: 24px (24px - 12px)
