<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <h2>
        {{ activatedRoute.snapshot.title }}
      </h2>
      @if (token() === null) {
        <app-reset-password-request-form
          [formLoading]="formLoading()"
          (formSubmit)="handleResetPasswordRequestFormSubmit($event)">
        </app-reset-password-request-form>
      } @else {
        <app-reset-password-form
          [formLoading]="formLoading()"
          (formSubmit)="handleResetPasswordFormSubmit($event)">
        </app-reset-password-form>
      }
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">
        Remember the password?
        <a [routerLink]="['../', signInRoute.path]">{{ signInRoute.title }}</a>.
      </p>
    </div>
  </div>
</div>
